<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<script type="text/javascript" th:src="@{/driver/scripts/jquery/jquery-1.7.1.js}"></script>
	<link th:href="@{/driver/style/authority/basic_layout.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/driver/style/authority/common_style.css}" rel="stylesheet" type="text/css">
	<script type="text/javascript" th:src="@{/driver/scripts/authority/commonAll.js}"></script>
	<script type="text/javascript" th:src="@{/driver/scripts/fancybox/jquery.fancybox-1.3.4.js}"></script>
	<script type="text/javascript" th:src="@{/driver/scripts/fancybox/jquery.fancybox-1.3.4.pack.js}"></script>
	<link rel="stylesheet" type="text/css" th:href="@{/driver/style/authority/jquery.fancybox-1.3.4.css}"
		  media="screen"/>
	<script type="text/javascript" th:src="@{/driver/scripts/artDialog/artDialog.js}"></script>
	<title>车队司机模块</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/asserts/materialize/css/materialize.min.css}" media="screen,projection" />
	<!-- Bootstrap Styles-->
	<link th:href="@{/asserts/css/bootstrap.css}" rel="stylesheet" />
	<!-- FontAwesome Styles-->
	<link th:href="@{/asserts/css/font-awesome.css}" rel="stylesheet" />
	<!-- Morris Chart Styles-->
	<link th:href="@{/asserts/js/morris/morris-0.4.3.min.css}" rel="stylesheet" />
	<!-- Custom Styles-->
	<link th:href="@{/asserts/css/custom-styles.css}" rel="stylesheet" />
	<!-- Google Fonts-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
	<link rel="stylesheet" th:href="@{/asserts/js/Lightweight-Chart/cssCharts.css}">

	<style>
		.alt td {
			background: black !important;
		}
	</style>
</head>
<body>
<div class="card">
	<div class="card-action">
		Tables
	</div>
	<div class="card-content">
		<div class="table-responsive">
			<table class="table table-striped table-bordered table-hover" id="dataTables-example">
				<thead>
				<tr>
					<th>订单号</th>
					<th>订单生成时间</th>
					<th>用户</th>
					<th>电话</th>
					<th>接送时间</th>
					<th>接送地点</th>
					<th>选项</th>
				</tr>
				</thead>
				<tbody>

				<tr th:each="conference:${conferenceList}">
					<td th:text="${conference.id}"></td>
					<td th:text="${conference.orderTime}"></td>
					<td th:text="${conference.attendeeId}"></td>
					<td th:text="${conference.attendeeTel}"></td>
					<td th:text="${conference.deadLine}"></td>
					<td th:text="${conference.address}"></td>
					<td>
						<a th:href="@{'/driver/finishDriverOrder?id='+${conference.id}}">完成订单</a>
					</td>
				</tr>

				</tbody>
			</table>
		</div>

	</div>
</div>
</body>

<script th:src="@{/asserts/js/dataTables/jquery.dataTables.js}"></script>
<script th:src="@{/asserts/js/dataTables/dataTables.bootstrap.js}"></script>
<script>
	$(document).ready(function () {
		$('#dataTables-example').dataTable();
	});
</script>
</html>
