<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>车队司机模块</title>
<link href="style/authority/basic_layout.css" rel="stylesheet" type="text/css">
<link href="style/authority/common_style.css" rel="stylesheet" type="text/css">
</head>
<body>
	<div id="container">
		<table class="table" cellspacing="0" cellpadding="0" width="100%" align="center"  border="0">
		    <tr>
		      <th colspan="2">操作指南</th>
		    </tr>
		    <tr>
		      <td width="100" height="30">抢单<span class="TableRow2"></span></td>
		      <td style="text-align:left">显示订单，可供您选择</td>
		    </tr>
		    <tr>
		      <td width="100" height="30">未完成订单<span class="TableRow2"></span></td>
		      <td style="text-align:left">显示未完成订单</td>
		    </tr>
		    <tr>
		      <td width="100" height="30">已完成订单<span class="TableRow2"></span></td>
		      <td style="text-align:left">显示已完成订单</td>
		    </tr>
		</table>
	</div>
</body>
</html>
