<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>发起会议</title>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="asserts/materialize/css/materialize.min.css" media="screen,projection" />
    <!-- Bootstrap Styles-->
    <link href="asserts/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="asserts/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="asserts/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="asserts/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="asserts/js/Lightweight-Chart/cssCharts.css">

    <script type="text/javascript">
        function checkrenshu() {
            //判断人数是否符合格式
            var reg = new RegExp('^\\d{1,4}$')
            renshu = document.getElementById("renshu").value;
            if(reg.test(renshu)){
                return true;
            }else{
                alert("会议人数请输入1-4位数字")
                return false;
            }
        }
        function checkhotel() {
            //判断旅馆号是否符合格式
            var reg = new RegExp('^\\d{1,4}$')
            hotelid = document.getElementById("hotelid").value;
            if(reg.test(hotelid)){
                return true;
            }else{
                alert("旅馆编号请输入1-4位数字")
                return false;
            }
        }
        function checknull() {
            about = document.getElementById("about").value;
            name_ = document.getElementById("name").value;
            date_ = document.getElementById("datetime").value;
            if(name_ =="" || about=="" || date_==""){
                alert("必填字段不能为空")
                return false;
            }else {
                return true;
            }
        }
        function checkandsubmit() {
            //验证是否都符合要求
            if( checkhotel() && checkrenshu() && checknull()){
                //全部符合要求
                document.getElementById("meeting").submit();
            }else{

            }
        }
    </script>
</head>
<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle waves-effect waves-dark" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand waves-effect waves-dark" href="index.html"><i class="large material-icons">insert_chart</i> <strong>会务系统</strong></a>

                <div id="sideNav" href=""><i class="material-icons dp48">toc</i></div>
            </div>

            <ul class="nav navbar-top-links navbar-right">
                <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown4"><i class="fa fa-envelope fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown3"><i class="fa fa-tasks fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown2"><i class="fa fa-bell fa-fw"></i> <i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-button waves-effect waves-dark" href="#!" data-activates="dropdown1"><i class="fa fa-user fa-fw"></i> <b th:text="${session.organizer.username}"></b> <i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </nav>
        <!-- Dropdown Structure -->
        <ul id="dropdown1" class="dropdown-content">
            <li><a href="#"><i class="fa fa-user fa-fw"></i> 我的主页</a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> 设置</a>
            </li>
            <li><a href="#"><i class="fa fa-sign-out fa-fw"></i> 注销</a>
            </li>
        </ul>
        <ul id="dropdown2" class="dropdown-content w250">
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-comment fa-fw"></i> 新信息
                        <span class="pull-right text-muted small">4 min</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-twitter fa-fw"></i> 3 新朋友
                        <span class="pull-right text-muted small">12 min</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-envelope fa-fw"></i> 消息汇总
                        <span class="pull-right text-muted small">4 min</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-tasks fa-fw"></i> 新任务
                        <span class="pull-right text-muted small">4 min</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <i class="fa fa-upload fa-fw"></i> 刷新服务
                        <span class="pull-right text-muted small">4 min</span>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="text-center" href="#">
                    <strong>See All Alerts</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <ul id="dropdown3" class="dropdown-content dropdown-tasks w250">
            <li>
                <a href="#">
                    <div>
                        <p>
                            <strong>任务 1</strong>
                            <span class="pull-right text-muted">60% 完成</span>
                        </p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% 完成 (success)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <p>
                            <strong>任务 2</strong>
                            <span class="pull-right text-muted">28% 完成</span>
                        </p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="28" aria-valuemin="0" aria-valuemax="100" style="width: 28%">
                                <span class="sr-only">28% 完成</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <p>
                            <strong>任务 3</strong>
                            <span class="pull-right text-muted">60% 完成</span>
                        </p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                                <span class="sr-only">60% 完成 (warning)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <p>
                            <strong>任务 4</strong>
                            <span class="pull-right text-muted">85% 完成</span>
                        </p>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                                <span class="sr-only">85% 完成 (danger)</span>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
        </ul>
        <ul id="dropdown4" class="dropdown-content dropdown-tasks w250">
            <li>
                <a href="#">
                    <div>
                        <strong>北京大学</strong>
                        <span class="pull-right text-muted">
                                        <em>今天</em>
                                    </span>
                    </div>
                    <div>你考研没过线，老师叫你去办公室，说是有事找你.......</div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <strong>MiKu</strong>
                        <span class="pull-right text-muted">
                                        <em>前天</em>
                                    </span>
                    </div>
                    <div>你四级没过，老师叫你去办公室，说是有事找你.......</div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a href="#">
                    <div>
                        <strong>Fireworks</strong>
                        <span class="pull-right text-muted">
                                        <em>昨天</em>
                                    </span>
                    </div>
                    <div>你高数挂了，老师叫你去办公室，说是有事找你.......</div>
                </a>
            </li>
            <li class="divider"></li>
            <li>
                <a class="text-center" href="#">
                    <strong>Read All Messages</strong>
                    <i class="fa fa-angle-right"></i>
                </a>
            </li>
        </ul>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a class="waves-effect waves-dark" href="/index_organizer"><i class="fa fa-dashboard"></i> 主页面</a>
                    </li>
<!--                    <li>-->
<!--                        <a href="#" class="waves-effect waves-dark"><i class="fa fa-desktop"></i> UI 元素</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="/chart" class="waves-effect waves-dark"><i class="fa fa-bar-chart-o"></i> 图表总览</a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="/message" class="waves-effect waves-dark"><i class="fa fa-qrcode"></i> 消息中心</a>-->
<!--                    </li>-->

<!--                    <li>-->
<!--                        <a href="/table" class="waves-effect waves-dark"><i class="fa fa-table"></i> 全部会议</a>-->
<!--                    </li>-->
                    <li>
                        <a href="/form" class="active-menu waves-effect waves-dark"><i class="fa fa-edit"></i> 发起会议 </a>
                    </li>


<!--                    <li>-->
<!--                        <a href="#" class="waves-effect waves-dark"><i class="fa fa-sitemap"></i> 目前事务<span class="fa arrow"></span></a>-->
<!--                        <ul class="nav nav-second-level">-->
<!--                            <li>-->
<!--                                <a href="#">一号链接</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#">二号链接</a>-->
<!--                            </li>-->
<!--                            <li>-->
<!--                                <a href="#">三号链接<span class="fa arrow"></span></a>-->
<!--                                <ul class="nav nav-third-level">-->
<!--                                    <li>-->
<!--                                        <a href="#">三分之一</a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a href="#">三分之二</a>-->
<!--                                    </li>-->
<!--                                    <li>-->
<!--                                        <a href="#">三分之三</a>-->
<!--                                    </li>-->

<!--                                </ul>-->

<!--                            </li>-->
<!--                        </ul>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a href="/agenda" class="waves-effect waves-dark"><i class="fa fa-fw fa-file"></i> 日程总览</a>-->
<!--                    </li>-->
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->







        <div id="page-wrapper" >
<form class="col s12" id="meeting" action="/addconference" method="post">
		  <div class="header"> 
                        <h1 class="page-header">
                             发起会议
                        </h1>
						<ol class="breadcrumb">
					  <li><a href="#">Home</a></li>
					  <li><a href="#">发起会议</a></li>
					  <li class="active">Data</li>
					</ol> 
									
		</div>

            <div id="page-inner"> 
			 <div class="row">
			 <div class="col-lg-12">
			 <div class="card">
                    <div class="card-action">
                        会议基本信息（必填）
                    </div>
                    <div class="card-content">

          <div class="row">
            <div class="input-field col s6">
              <input id="name" name="name" type="text" class="validate">
              <label for="name">会议名</label>
            </div>
            <div class="input-field col s6">
              <input id="datetime" name="datetime" type="datetime-local" class="validate">
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
                <input id="about" name="about" type="text" class="validate">
                <label for="about">会议描述</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="renshu" name="renshu" type="text" class="validate">
              <label for="renshu">参会人数</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input id="hotelid" name="hotelid" type="text" class="validate">
              <label for="hotelid">旅馆号</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              这是一个空闲字段
              <div class="input-field inline">
                <input id="empty" name="empty" type="text" class="validate">
                <label for="empty" data-error="wrong" data-success="right">空闲字段</label>
              </div>
            </div>
          </div>
        <div class="clearBoth"></div>


  </div>
    </div>
 </div>	
	 </div>		
              <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-action">
                            会议二号联系人（选填）
                        </div>
                        <div class="card-content">
								  <div class="row">
									<div class="input-field col s6">
									  <i class="material-icons prefix">account_circle</i>
									  <input id="icon_prefix" type="text" class="validate">
									  <label for="icon_prefix">姓名</label>
									</div>
									<div class="input-field col s6">
									  <i class="material-icons prefix">phone</i>
									  <input id="icon_telephone" type="tel" class="validate">
									  <label for="icon_telephone">电话号码</label>
									</div>
								  </div>
								  <div class="row">
									<div class="input-field col s12">
									  <input id="email" type="email" class="validate">
									  <label for="email" data-error="wrong" data-success="right">邮箱地址</label>
									</div>
								  </div>
                                  <div class="row">
                                    <div class="input-field col s12">
                                      <textarea id="textarea1" class="materialize-textarea"></textarea>
                                      <label for="textarea1">住址</label>
                                    </div>
                                  </div>

                           <!-- Switch -->
                          <div class="switch">
                            <label>
                              关闭消息提示
                              <input type="checkbox">
                              <span class="lever"></span>
                              开启消息提示
                            </label>
                          </div>
                          <div class="switch">
                            <label>
                              开放搜索
                              <input type="checkbox">
                              <span class="lever"></span>
                                屏蔽搜索
                            </label>
                          </div>



							<div class="clearBoth"></div>
							</div>
							</div>
							</div>

				<div class="col-lg-6">
                    <div class="card">
                        <div class="card-action">
                            会议内容方向（选填）
                        </div>
                        <div class="card-content">

                    <p>
                      <input name="group1" type="radio" id="test1" />
                      <label for="test1">科普</label>
                    </p>
                    <p>
                      <input name="group1" type="radio" id="test2" />
                      <label for="test2">规划</label>
                    </p>
                    <p>
                      <input class="with-gap" name="group1" type="radio" id="test3"  />
                      <label for="test3">宣讲</label>
                    </p>
                    <p>
                      <input type="checkbox" id="test5" />
                      <label for="test5">第二课堂学分</label>
                    </p>
                    <p>
                      <input type="checkbox" id="test6" />
                      <label for="test6">综合素质分</label>
                    </p>
                     <p>
                         <input type="checkbox" id="test7" />
                         <label for="test7">能力提升</label>
                     </p>
                     <p>
                         <input type="checkbox" id="test8" />
                         <label for="test8">开拓视野</label>
                     </p>


                   </div>
                               
                   </div>
                        <a class="waves-effect waves-light btn-large" href="#" onclick="checkandsubmit()" style="margin-top: 10px">创建会议</a>
                            <!-- /.row (nested) -->
                </div>
                        <!-- /.panel-body -->
                    </div> 
                <!-- /.col-lg-12 -->
			</div>
             <!-- /. PAGE INNER  -->
</form>
            </div>
         <!-- /. PAGE WRAPPER  -->
        </div>
     <!-- /. WRAPPER  -->
    <!-- JS Scripts-->
    <!-- jQuery Js -->
    <script src="asserts/js/jquery-1.10.2.js"></script>
	
	<!-- Bootstrap Js -->
    <script src="asserts/js/bootstrap.min.js"></script>
	
	<script src="asserts/materialize/js/materialize.min.js"></script>
	
    <!-- Metis Menu Js -->
    <script src="asserts/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="asserts/js/morris/raphael-2.1.0.min.js"></script>
    <script src="asserts/js/morris/morris.js"></script>
	
	
	<script src="asserts/js/easypiechart.js"></script>
	<script src="asserts/js/easypiechart-data.js"></script>
	
	 <script src="asserts/js/Lightweight-Chart/jquery.chart.js"></script>
	
    <!-- Custom Js -->
    <script src="asserts/js/custom-scripts.js"></script> 
 

</body>

</html>
